append scripts
	script(src='/js/comment_edit.js')

form(id='comment_form',action='/article/comment/save',method='post')
	h3 Add a Comment
	label Your Name (required)
	input(name='comment[author]',id='comment_author')
	label Your Email (required)
	input(name='comment[email]',id='comment_email')
	label Your Comment (required)
	textarea(name='comment[content]',id='comment_content',rows='15',cols='50')
	input(type='hidden',name='comment[article]',value=article._id, id='comment_article')
	label
	input(type='button',value='Publish Comment',id='comment_submit')