extends ../layout

append scripts
	script(src='/js/article_edit.js')

block content
	h2 Edit Article
	form(method='post', action='/article/save')
		input(name='_method', value='PUT', type='hidden')
		-if (article)
			-if (article._id)
				input(name='article[_id]', value=article._id, type='hidden')
			div
				label Author
				input(name='article[author]', value=article.author, type='text', maxlength=200")
			div
				label Title
				input(name='article[title]', value=article.title, type='text', maxlength=200)
			div
				label SEO Title
				input(name='article[seo_title]', value=article.seo_title, type='text', maxlength=50)
			div
				label Publish
				select(name='article[published]', id='article_publish')
					-if (article.published==1)
						option(value=0) No
						option(value=1, selected='selected') Yes
					-else
						option(value=0, selected='selected') No
						option(value=1) Yes
			div
				label Content
				textarea(name='article[content]', id='article_content', style='width: 100%; min-height: 300px;')
					=article.content || ''
			div
				label
				input.btn.btn-info(name='submit', value='Save', type='submit')
		-else
			div
				label Author
				input(name='article[author]', type='text', maxlength=200")
			div
				label Title
				input(name='article[title]', type='text', maxlength=200)
			div
				label SEO Title
				input(name='article[seo_title]', type='text', maxlength=50)
			div
				label Publish
				select(name='article[published]', id='article_publish')
					option(value=0) No
					option(value=1) Yes
			div
				label Content
				textarea(name='article[content]', id='article_content', cols=50, rows=15)
			div
				label
				input.btn.btn-info(name='submit', value='Save', type='submit')
block right
	h2 Preview
	div#preview