.clear{
	clear: both;
}

#left {
	width: 49%;
	float: left;
}
#right {
	width: 49%;
	float: right;
}

.comment {
	border: 1px dotted #edd;
	margin: 5px;
	padding: 10px;
}
.comment_author {
	font-weight: bold;
}
.comment_content {
	font-size: 11px;
}

#paginator {
	margin-top: 20px;
}

form label {
	display: block;
}

div#footer {
	margin-top: 20px;
}
.hidden {
	display: none;
}
div#user_options p {
	text-align: right;
	background-color: #000;
}

/*************
Bootstrap
*************/
body .navbar .container {
	padding-top: 0px;
}
body .container {
	padding-top: 60px;
}
.blog-content {
	text-align: justify;
}
/* Large desktop */
@media (max-width: 979px) {
	body .container {
		padding-top: 0px;
	}
}