extends ../layout

block content
	h1 Welcome to the index page of CmsJS
	-if(articles.length > 0)
		each item in articles
			li
				a(href='/article/view/'+item.seo_title, title=item.title)= item.title
				&nbsp;
				a(href='/article/edit/'+item.seo_title, title='edit', class='edit_link') Edit
				&nbsp;
				a(href='/article/remove/'+item.seo_title, title='delete', class='delete_link') Delete
		script
			$('a.delete_link').click(function(){
				return confirm('Really?, delete this item?');
			});
	div
		p
			a(href='/article/edit') New Article
