extends ../layout

append block head
	title= article.title

append scripts
	script(src='/js/article_view.js')

block content
	h1.article_title= article.title
	- if(article.publishedOn)
		div.article_author On: 
			= article.publishedOn
	div.article_author By: 
		= article.author
	div.article_content!= article.content
	h2 Comments
	input(type='hidden',id='article_id',value=article._id)
	div#comments

block right
	include ../comment/edit