extends ../layout

block content
	h1 Login Form
	form#login(method='post',action='/dologin')
		label
			Username
		input(type='text',name='username',id='username')
		label
			Password
		input(type='password',name='password',id='password')
		label
		input(type='submit')
