!!! 5
html
	include includes/header

	include includes/menu

	div.container
		div.row-fluid
			div.span12
				block mainTitle
		div.row-fluid
			div.span8
				block content
			div.span4
				block right

	include includes/footer